.password-input {
  position: relative;
  display: flex;
  align-items: center;
}

.password-input__field {
  padding-right: 2.5rem;
}

.password-input__toggle {
  position: absolute;
  right: .375rem;
}

/* Ajuste para modo oscuro */
@media (prefers-color-scheme: dark) {
  .password-input__toggle img {
    filter: invert(1);
  }
}