<section class="section container not-found">
  <div class="not-found__content">
    <h1 class="not-found__title"><%= namePage %></h1>
    <p class="not-found__message">
      <%= message || "La página que estás buscando no existe o ha sido movida." %>
    </p>
    <a href="javascript:history.back()"  class="button button--primary button--lg">Volver atrás</a>
  </div>
</section>
